.footer {
  background-color: var(--color-white);
  border-top: 1px solid var(--color-text-black);
  padding: var(--spacing-md) 0;
  margin: 0;
  margin-top: auto;
  width: 100%;
  position: relative;
}

@media (min-width: 1280px) {
  .footer {
    width: 1600px;
    margin-left: calc(50% - 800px);
    margin-right: calc(50% - 800px);
    padding: var(--spacing-lg) 0;
  }
  
  .footer::before {
    content: '';
    position: absolute;
    top: -1px;
    left: calc(-50vw + 800px);
    width: 100vw;
    height: 1px;
    background-color: var(--color-text-black);
    pointer-events: none;
  }
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-padding);
  width: 100%;
  max-width: 1600px;
}

.text {
  text-align: left;
  margin: 0;
}

