.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: var(--spacing-md);
}

.header {
  padding: var(--spacing-sm);
  text-align: left;
  border-bottom: 1px solid var(--color-text-black);
  font-weight: bold;
  background-color: var(--color-white);
}

.cell {
  padding: var(--spacing-sm);
  border-bottom: 1px solid var(--color-text-black);
  text-align: left;
}

