.button {
  display: inline-block;
  margin-top: var(--spacing-xl);
  padding: var(--spacing-sm) var(--spacing-lg);
  background-color: var(--color-signature-rosa);
  color: var(--color-white);
  text-align: center;
}

.button:hover:not(:disabled) {
  background-color: var(--color-signature-orange);
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

