.container {
  margin-top: var(--spacing-lg);
}

.options {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-md);
  margin-top: var(--spacing-sm);
  flex-wrap: wrap;
}

.option {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
  cursor: pointer;
}
