.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  .content {
    flex-direction: row;
  }
}

.contentStackFirst .content > *:first-child {
  order: 1;
}

.contentStackFirst .content > *:last-child {
  order: 2;
}

@media (min-width: 768px) {
  .contentStackFirst .content > *:first-child {
    order: 2;
  }
  
  .contentStackFirst .content > *:last-child {
    order: 1;
  }
}

.contentRowFirst .content > *:first-child {
  order: 1;
}

.contentRowFirst .content > *:last-child {
  order: 2;
}

.contentStackUntilDesktop .content {
  flex-direction: column;
}

@media (min-width: 768px) {
  .contentStackUntilDesktop .content {
    flex-direction: row;
  }
}

